.emai_form input{
    flex: 1;
    border: 1px solid #6d6d6d;
    outline: none;
    padding: 10px 15px;
    margin-right: 8px;
}

.emai_form button{
    background: #253551;
    color: var(--bs-white);
    font-weight: 400;
    min-width: 100px;
    border: none;
    outline: none;
    display: block;
    transition: var(--transition_3s);
    -webkit-transition: var(--transition_3s);
    -moz-transition: var(--transition_3s);
    -ms-transition: var(--transition_3s);
    -o-transition: var(--transition_3s);
}

.emai_form button:hover{
    background: #41A1AA;
}




@media(max-width: 767px){
    #offcanvas{
        background: #41A1AA;
    }
    .nav_ul,
    .nav_ul li,
    .nav_ul li a{
        width: 100%;
        text-align: center;
    }
    .nav_ul li p a{
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav_ul > li{
        margin: 0;
        margin-bottom: 20px;
    }
}
